[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "visual_studio"]
	path = visual_studio
	url = https://github.com/lvgl/lv_port_pc_visual_studio.git
